



  <ion-header>

  

    <ion-toolbar color="dark">
            <ion-buttons slot="primary">
            <ion-thumbnail slot="start">
                <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
                <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
              </ion-thumbnail>
            </ion-buttons>
    
            <!-- <ion-button color="dark" class="io" shape="round" slot="start" (click)="mainM()" routerDirection="root">
                <ion-icon name="home"></ion-icon>
              </ion-button> -->
        
    
            <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
                <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
                <ion-select-option  value="US" >INGLES</ion-select-option>
            </ion-select>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding no-margin>
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin >
          <ion-col no-padding no-margin>
       
          <ion-button color="danger" (click)="playUno()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/onenumber.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1 *ngIf="idiomaSeleccionado == 'ES'">U</h1>
                  <h1 *ngIf="idiomaSeleccionado == 'US'">O</h1>
                </ion-text>
          </ion-button>
        
        </ion-col>
      </ion-row>
   
      <ion-row no-padding no-margin >
          <ion-col no-padding no-margin>
       
          <ion-button color="primary" (click)="playDos()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/twonumber.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1 *ngIf="idiomaSeleccionado == 'ES'">D</h1>
                  <h1 *ngIf="idiomaSeleccionado == 'US'">T</h1>
                </ion-text>
             
            </ion-button>
          </ion-col>
        </ion-row>
    
        <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
           <ion-button color="warning" (click)="playTres()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/threenumber.png" alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>T</h1>
                </ion-text>
             
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
        
          <ion-button color="success" (click)="playCuatro()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/fournumber.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1 *ngIf="idiomaSeleccionado == 'ES'">C</h1>
                  <h1 *ngIf="idiomaSeleccionado == 'US'">F</h1>
                </ion-text>
             
            </ion-button>
          </ion-col>
        </ion-row>
    
        <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
        
          <ion-button color="secondary" (click)="playCinco()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/fivenumber.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1 *ngIf="idiomaSeleccionado == 'ES'">C</h1>
                  <h1 *ngIf="idiomaSeleccionado == 'US'">F</h1>
                </ion-text>
             
            </ion-button>
          </ion-col>
        </ion-row>
  
      </ion-grid>
    </ion-content>
   
  