@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

ion-card{
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

ion-card-title{

    font-size: 110%;
}