<ion-header>
  <ion-toolbar color= "dark">
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title slot="start">
    Galeria Cosas Feas
    </ion-title>
 
    <!-- <ion-button  color="danger" class="io" slot="end" (click)="logoff()" routerDirection="root">
      
      <ion-icon name="power"></ion-icon>
    </ion-button> -->
  
  </ion-toolbar>
</ion-header>

<ion-content padding>
     <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
  (ionStart)="ionStart($event)">
  <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Estire para actualizar" refreshingSpinner="circles"
    refreshingText="Actualizando...">
  </ion-refresher-content>
</ion-refresher>


          <ion-list *ngIf="!spinner" shape="round">
            <!-- <ion-item class="item-text-wrap card" *ngFor="let foto of imagenesFeas.reverse()"> -->
            <ion-item class="item-text-wrap card">
                <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
                    <!-- <ion-card color="dark" *ngIf="foto.tipo == 'cosalinda'" >
                        <ion-card-header color="success">
                            <ion-card-title>Fecha: {{foto.fechaSubida.dia}}/{{foto.fechaSubida.mes}} - {{foto.fechaSubida.hora}}:{{foto.fechaSubida.minuto}}</ion-card-title>
                          
                          </ion-card-header>
                        
                          <ion-card-content >
                          
                              <label> Enviado por: {{foto.correo}}</label>
                              <img [src]="foto.url" >
                              <br>
                              <label>Likes: {{foto.likes}}</label>
                              <br><br>
                              <ion-button color="light"   shape="round" fill="outline" expand="block" (click)="like(foto.nombreFile)">
                              
                                <ion-icon name="heart"></ion-icon>
                              
                              </ion-button>
                          </ion-card-content>
                      </ion-card> -->

                      <!-- <ion-card color="dark" *ngIf="foto.tipo == 'cosafea'"> -->
                      <ion-card color="dark">
                          <ion-card-header  color="danger" >
                              <!-- <ion-card-title>Fecha: {{foto.fechaSubida.dia}}/{{foto.fechaSubida.mes}} - {{foto.fechaSubida.hora}}:{{foto.fechaSubida.minuto}}</ion-card-title> -->
      
                            </ion-card-header>
                          
                            <ion-card-content >
                                <!-- <label> Enviado por: {{foto.correo}}</label> -->
                                <img [src]="imagenMuestro">
                                <br>
                                <!-- <label>Likes: {{foto.likes}}</label> -->
                                <br><br>
                                <!-- <ion-button color="light" shape="round" fill="outline" expand="block" (click)="like(foto.nombreFile)">
                                  
                                <ion-icon name="heart"></ion-icon>
                                </ion-button> -->
                            </ion-card-content>
      
                          
                        </ion-card>
                </ion-col>

            </ion-item>
          </ion-list>


         

          <!-- <ion-grid shape="round" *ngFor="let fotofea of imagenesFeas">
          <ion-row>
            <ion-col shape="round">
             
                

                </ion-col>
              </ion-row>  
          </ion-grid> -->

                <ion-grid  *ngIf="spinner" style="height: 100%">
                    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
                    <ion-spinner name="lines"></ion-spinner>
                    <ion-spinner name="ios"></ion-spinner>
                      </ion-row>
                    </ion-grid>





    </ion-content>