<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title>
      PPS-4B    
    </ion-title>
    <ion-button color="danger" class="io" slot="end" (click)="mainM()" routerDirection="root">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
      
  
      <!-- <ion-card id="tab2card">
          <ion-card-header>
            <ion-card-subtitle>Relevamiento Visual</ion-card-subtitle>
            <ion-card-title>Bienvenido</ion-card-title>
          </ion-card-header>
          Sistema de relevamiento visual de edificios.
          <ion-card-content>
          </ion-card-content>
        </ion-card> -->
  
  
  
  
  
  </ion-content>
  