<ion-header>
    <ion-toolbar>
      <!-- <ion-title style=" text-align: center"> -->
      <ion-title slot="start">
      Galeria    
      </ion-title>
   
      <ion-button  color="danger" class="io" slot="end" (click)="logoff()" routerDirection="root">
          <!-- style="width: 43px;height:40px; border-radius: 60%" -->
        <ion-icon name="power"></ion-icon>
      </ion-button>
    
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

      <!-- <div id="datosPedido"> -->
          <!-- <ion-card> -->
      <!-- <div class="images" > -->
          <!-- <div class="one-image" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10]">
            <img src="../../assets/imgs/{{image}}.jpg">
          </div> -->
          <!-- <img src="{{imagen}}"> -->
          <!-- <ion-grid shape="round" >
          <ion-row>
            <ion-col shape="round">
                   <img [src]="imagen">
                </ion-col>
              </ion-row>  
          </ion-grid>
        </ion-card> -->

        <!-- <ion-list> -->
        <!-- <ion-slides>
            <ion-slide *ngFor="let imagen of imagenes"> -->
            <!-- <ion-item color="dark"> -->
                <!-- <ion-slides > -->


                  <ion-grid shape="round" *ngFor="let foto of imagenes" >
                  <ion-row>
                    <ion-col shape="round">
                          <img [src]="foto">
                        </ion-col>
                      </ion-row>  
                  </ion-grid>


                    <!-- <ion-item  > -->
                      <!-- <img src="assets/img/{{ img }}.png" tappable (click)="openPreview(img)"> -->
                      <!-- <img [src]="foto"/> -->
                    <!-- </ion-item> -->
                  <!-- </ion-slides> -->
            <!-- </ion-item> -->
              
            <!-- </ion-slide>
          </ion-slides> -->
        <!-- </ion-list> -->
      <!-- </div> -->

        <!-- </div> -->
      </ion-content>