@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

.card{
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   margin-left: 1%;
}

ion-card-title{

    font-size: 170%;
}

ion-list{
    margin-left: 4px !important;
}

ion-button{
    height: 43px;
}

img{
    width: auto;
    max-width: 100%;
    height: 457px;
    max-height: 100%;
}
