<ion-header>
  <ion-toolbar color="dark">
   <ion-title slot="start">Carga Credito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


    <!-- <ion-card id="tab1card">
        <ion-card-header>
          <ion-card-subtitle>Carga Credito</ion-card-subtitle>
          <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        Sistema de carga de credito mediante QR.
        <ion-card-content>
        </ion-card-content>
      </ion-card> -->
      <ion-chip>
        <div id="tablero">
        <ion-label class="suSaldo"> Su saldo: </ion-label><br><br>
        <ion-label class="saldoPantalla"  name="saldoPantalla">$ {{saldoPantalla}}</ion-label>
        <!-- [(ngModel)]="saldoPantalla" -->
      </div>
      </ion-chip>
      <br><br><br><br>
    
      
         <!-- <div id="botones"> -->
          
          <ion-toolbar>
          <!-- <ion-button slot="start" shape="round" (click)="onClick()" > -->
              <ion-fab-button color="primary" (click)="escaneoQR()">
              <!-- Escanear codigo QR -->
            <ion-icon name="add-circle"></ion-icon>
          </ion-fab-button>
             <!-- </ion-button> -->
             <ion-fab-button color="warning" slot="end"(click)="borroQR()" >
                <!-- Limpiar creditos -->
             <ion-icon name="trash"></ion-icon>

            </ion-fab-button>
          </ion-toolbar>
            <!-- </div> -->




</ion-content>
