


  <ion-header>

  

      <ion-toolbar color="dark">
          <ion-buttons slot="primary">
          <ion-thumbnail slot="start">
              <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
              <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
            </ion-thumbnail>
          </ion-buttons>
  
          <!-- <ion-button color="dark" class="io" shape="round" slot="start" (click)="mainM()" routerDirection="root">
              <ion-icon name="home"></ion-icon>
            </ion-button> -->
      
  
          <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
              <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
              <ion-select-option  value="US" >INGLES</ion-select-option>
          </ion-select>
    
          
      </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding no-margin>
        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
       
          <ion-button color="danger" (click)="playRojo()" expand="full" size="large" no-margin responsive-lg >
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/redcolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>R</h1>
                </ion-text>
          </ion-button>
        
        </ion-col>
    </ion-row>
   
    <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
       
          <ion-button color="primary" (click)="playAzul()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/bluecolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                    <h1 *ngIf="idiomaSeleccionado == 'ES'">A</h1>
                    <h1 *ngIf="idiomaSeleccionado == 'US'">B</h1>
                </ion-text>
             
            </ion-button>
        </ion-col>
    </ion-row>
    
    <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
       
           <ion-button color="warning" (click)="playAmarillo()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/yellowcolor.png" alt="" srcset="">
              <ion-text class="fuente" color="light">
                    <h1 *ngIf="idiomaSeleccionado == 'ES'">A</h1>
                    <h1 *ngIf="idiomaSeleccionado == 'US'">Y</h1>
                </ion-text>
             
            </ion-button>
        </ion-col>
    </ion-row>
    
    <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
        
          <ion-button class="orange" (click)="playNaranja()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/orangecolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                    <h1 *ngIf="idiomaSeleccionado == 'ES'">N</h1>
                    <h1 *ngIf="idiomaSeleccionado == 'US'">O</h1>
                </ion-text>
             
            </ion-button>
        </ion-col>
    </ion-row>
  
    <ion-row no-padding no-margin >
            <ion-col no-padding no-margin>
        
          <ion-button color="success" (click)="playVerde()" expand="full" size="large" no-margin responsive-lg>
              <img class="imgapp"  no-margin no-padding src="../../assets/icon/greencolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                    <h1 *ngIf="idiomaSeleccionado == 'ES'">V</h1>
                    <h1 *ngIf="idiomaSeleccionado == 'US'">G</h1>
                </ion-text>
             
            </ion-button>
        </ion-col>
    </ion-row>
    

  </ion-grid>
    </ion-content>
   
  