


  <ion-header>

  

      <ion-toolbar color="dark">
          <ion-buttons slot="primary">
          <ion-thumbnail slot="start">
              <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
              <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
            </ion-thumbnail>
          </ion-buttons>
  
          <!-- <ion-button color="dark" class="io" shape="round" slot="start" (click)="mainM()" routerDirection="root">
              <ion-icon name="home"></ion-icon>
            </ion-button> -->
      
  
          <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
              <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
              <ion-select-option  value="US" >INGLES</ion-select-option>
          </ion-select>
    
          
      </ion-toolbar>
  </ion-header>
  
    <ion-content>
  
    
     <br>
      <ion-item>
       
          <ion-button color="danger" (click)="playRojo()" expand="full" >
              <img id="imgapp" src="../../assets/icon/redcolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>R</h1>
                </ion-text>
          </ion-button>
        
      </ion-item>
   
      <ion-item>
       
          <ion-button color="primary" (click)="playAzul()" expand="full">
              <img id="imgapp" src="../../assets/icon/bluecolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>A</h1>
                </ion-text>
             
            </ion-button>
      </ion-item>
    
      <ion-item >
       
           <ion-button color="warning" (click)="playAmarillo()" expand="full">
              <img id="imgapp" src="../../assets/icon/yellowcolor.png" alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>A</h1>
                </ion-text>
             
            </ion-button>
      </ion-item>
    
      <ion-item >
        
          <ion-button class="orange" (click)="playNaranja()" expand="full">
              <img id="imgapp" src="../../assets/icon/orangecolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>N</h1>
                </ion-text>
             
            </ion-button>
      </ion-item>
  
      <ion-item >
        
          <ion-button color="success" (click)="playVerde()" expand="full">
              <img id="imgapp" src="../../assets/icon/greencolor.png"   alt="" srcset="">
              <ion-text class="fuente" color="light">
                  <h1>V</h1>
                </ion-text>
             
            </ion-button>
      </ion-item>
    </ion-content>
   
  