<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title slot="start">
    Alarma de robo    
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
   
    <!-- <ion-toolbar class="toolbar"> -->
    <ion-button *ngIf="activar" class="iButton" color="success"  (click)="activoAcelerometro()" expand="full">
        <img src="../../assets/icon/padlockU.png" alt="">
       
     </ion-button>
    <!-- </ion-toolbar> -->

     <!-- <ion-toolbar class="toolbar"> -->
        <ion-button *ngIf="!activar" class="iButton" color="danger"  (click)="desactivoAcelerometro()" expand="full">
            <img src="../../assets/icon/padlock.png" alt="">
           
         </ion-button>
        
        <!-- </ion-toolbar> -->

      <ion-footer>
       
          <ion-title>Estado:</ion-title>
          <br>
          <ion-text> {{estado}}</ion-text> 
        
      </ion-footer>
    






</ion-content>
