<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
    

   
  <div class="contenedorPresentacion">

  <div><p>JUEGO MOVIMIENTO KINETICO
    <br>
          PPS 19 UTN <br>
          JULIAN GRAZIANO <br>
          DIVISION 4A
  </p></div>

</div>
  <div class="logoPresentacion">
      <img id="imgScreen"  src="../../assets/icon/icon.png">	
      
    </div> 




</div> 




<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
