
ion-content{
  --ion-background-color:#9CA3DB;


}
ion-item{
  // --background: #fff url('https://png.pngtree.com/element_origin_min_pic/16/08/19/1657b6c9722c4a4.jpg') no-repeat center center / cover;
  // background: rgb(80, 118, 177);
  // background-image: url('../../img/inner_bg.png');
  --ion-background-color:#9CA3DB;
  height: 35%;
  // margin-top: 5%;
  // margin-top:5%;
}
.ultimoBoton{
  height: 10%;

}


.io{

  width: 43px;
  height:40px; 
  border-radius: 50%;
}


.banner{
  border-radius: 20%;

}

ion-toolbar{
 --background: url('../../assets/icon/banner_sound.jpg') no-repeat center / cover;
height: 100%;
}
ion-header{
  height: 10%;
}




ion-button{
  height: 100%;
  width: 100%;
  border:0.2em solid black;
  // background: transparent;
  // border: black;
  
  

}

#imgapp{
  
  width: 41%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
      
}




