<ion-header>
  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <!-- <ion-title slot="start">
    Tabla didáctica   
    </ion-title> -->
    
    
    <ion-button class="io" color="danger" class="io" slot="end" (click)="logoff()" routerDirection="root">
        <!-- style="width: 43px;height:40px; border-radius: 60%" -->
      <ion-icon name="power"></ion-icon>
    </ion-button>
  
  </ion-toolbar>
</ion-header>

<div class="fondo">
    

<!-- 
    <ion-card id="tab1card">
        <ion-card-header>
          <ion-card-subtitle>Tabla didáctica de idiomas para niños</ion-card-subtitle>
          <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        Sistema de idiomas para niños.
        <ion-card-content>
        </ion-card-content>
      </ion-card> -->

      <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button color="light" (click)="onClick()" expand="full" >
                  <img id="imgapp" src="../../assets/icon/dog.png"   alt="" srcset="">
                  
              </ion-button>
            </ion-col>

            <ion-col col-6>
            <ion-button color="light" (click)="onClick()" expand="full">
              GATO
            </ion-button>
            </ion-col>
            <ion-col col-6> 
              <ion-button color="light" (click)="onClick()" expand="full">
                  PAJARO
              </ion-button>
            </ion-col>

            <ion-col col-6> 
              <ion-button color="light" (click)="onClick()" expand="full">
                  CONEJO
              </ion-button>
            </ion-col>

            <ion-col col-6> 
              <ion-button color="light" (click)="onClick()" expand="full">
                MONO
              </ion-button>
            </ion-col>
  </ion-row>
</ion-grid>




      <!-- <ion-grid>
          <ion-row>
            <ion-col col-6>
           <ion-button color="success" (click)="greenB()" expand="full">
              <img src="../../assets/icon/ok.png" alt="">
             
           </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button color="danger" (click)="redB()" expand="full">
              <img src="../../assets/icon/not.png" alt="">
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> -->





      </div>
