

  <ion-header>

    <ion-toolbar  >
  
        
    </ion-toolbar>
  </ion-header>
  

  <ion-content class="ion-padding">
  
    
    <br>
     <ion-item>
      
         <ion-button color="outline" (click)="animalB()" expand="full" >
             <img id="imgapp" src="../../assets/icon/dog.png"   alt="" srcset="">
             <ion-text class="fuente" color="light">
                 <!-- <h1>Animals</h1> -->
               </ion-text>
         </ion-button>
       
     </ion-item>
  
     <ion-item>
     
         <ion-button color="outline" (click)="colorsB()" expand="full">
             <img id="imgapp" src="../../assets/icon/colors.png"   alt="" srcset="">
             <ion-text class="fuente" color="light">
                 <!-- <h1>Colors</h1> -->
               </ion-text>
            
           </ion-button>
     </ion-item>

     <ion-item class="ultimoBoton">
      
      <ion-button  color="outline" (click)="numbersB()" expand="full">
          <img id="imgapp" src="../../assets/icon/numbers.png"   alt="" srcset="">
          <ion-text class="fuente" color="light">
              <!-- <h1>Numbers</h1> -->
            </ion-text>
         
        </ion-button>
  </ion-item>

     </ion-content>