<ion-header>
  <ion-toolbar color="dark">
<!--    
      <ion-text color="dark">
        <h1>Selecciona tu personaje</h1>
      </ion-text>  -->
     <ion-title>Mejores partidas</ion-title>
    <!-- <h1>Seleccione su personaje</h1> -->
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-grid color="medium">
     
      <ion-list  >
          <!-- style="border-bottom: groove;" -->
        <ion-row  >
          <ion-col>
           Puesto
        
      
           <ion-item>
             <!-- base.puesto -->
           </ion-item>
          </ion-col>
          <ion-col >
            Usuario
           
            <ion-item>
                <!-- base.usuario -->
              </ion-item>
          </ion-col>
         
          <ion-col >
            Puntaje
           
            <ion-item>
                <!-- base.puntaje -->
              </ion-item>
          </ion-col>
          
        </ion-row>
      </ion-list>
        </ion-grid>





</ion-content>
