
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");


ion-grid{
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
}

ion-list{
    background-color: transparent;
}
ion-item{
    --background: transparent;
    --width: auto;
}
// .col {
//     border: solid 1px white;
//     border-bottom-style: none;
//     border-right-style: none;
// }

